body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    background-color: #E1F5FE; /* Fondo de color azul claro */
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }

.container{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 30px;
}
h2{
    color: #FF4081;
    font-size: 2.5em;
    margin-bottom: 10px;
}
  #juego {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
  }
  
  .tarjeta {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
  }
  
  .tarjeta img {
    width: 150px;
    height: 150px;
    object-fit: contain;
  }

  .tarjeta p{
    font-weight: 600;
    margin: 10px;
  }

  .mensaje{
    font-size: 1.5em;
    margin-top: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }

  #resultado{
    font-size: 1rem;
  }

  button{
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 40px;
  }

  input {
    margin: 10px;
    width: 80%;
    padding: 8px;
    font-size: 14px;
    border-radius: 12px;
    border: #747172 2px solid;
  }
  