body {
    font-family: "Poppins", sans-serif;
}


.title {
    margin: 50px 0 50px 0;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    height: 100%;
    justify-self: center;
    padding: 10px;
}

.info-sect {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 25px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
 .list-type{
       display: flex;
       justify-self: left;
    }
article{
    width: 70%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0 20px 0;
}

.list-type ul{
    padding-left: 2rem;
    list-style-type: disc;
}
.list-type ul li{
    padding-left: 1rem;
    margin-top: 15px;
}
.list-type ul li::marker{
    color: #E84E45;
}

.list-types-check ul {
    padding-left: 2rem;
    list-style-type: none;
}

.list-types-check ul li {
    padding-left: 2rem;
    background-image: url(images/check.png);
    background-position: 0 0;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    margin: 10px;
}
.caract-sect{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 25px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;

    h3{
        margin-bottom: 10px;
    }
    .list-types-check{
    width: 80%;
    text-align: justify;
}
}






.list-types-arrow ul {
    padding-left: 2rem;
    list-style-type: none;
}

.list-types-arrow ul li {
    padding-left: 2rem;
    background-image: url(images/arrow-right-circle.svg);
    background-position: 0 0;
    background-size: 1.7rem 1.7rem;
    background-repeat: no-repeat;
    margin: 10px;
}

.types-sect{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 25px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
}

.degrees-sect{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 25px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
}


.accordion {
    .accordion-item {
        border-bottom: 1px solid #e5e5e5;

        button[aria-expanded='true'] {
            border-bottom: 1px solid #E84E45;
        }
    }

    button {
        position: relative;
        display: block;
        text-align: left;
        width: 100%;
        padding: 1em 0;
        color: #7288a2;
        font-size: 1.2rem;
        font-weight: 500;
        border: none;
        background: none;
        outline: none;

        &:hover,
        &:focus {
            cursor: pointer;
            color: #E84E45;

            &::after {
                cursor: pointer;
                color: #E84E45;
                border: 1px solid #E84E45;
            }
        }

        .accordion-title {
            padding: 1em 1.5em 1em 0;
        }

        .icon {
            display: inline-block;
            position: absolute;
            top: 18px;
            right: 0;
            width: 22px;
            height: 22px;
            border: 1px solid;
            border-radius: 22px;

            &::before {
                display: block;
                position: absolute;
                content: '';
                top: 9px;
                left: 5px;
                width: 10px;
                height: 2px;
                background: currentColor;
            }

            &::after {
                display: block;
                position: absolute;
                content: '';
                top: 5px;
                left: 9px;
                width: 2px;
                height: 10px;
                background: currentColor;
            }
        }
    }

    button[aria-expanded='true'] {
        color: #E84E45;

        .icon {
            &::after {
                width: 0;
            }
        }

        +.accordion-content {
            opacity: 1;
            max-height: 35em;
            transition: all 200ms linear;
            will-change: opacity, max-height;
        }
    }

    .accordion-content {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 200ms linear, max-height 200ms linear;
        will-change: opacity, max-height;

        p {
            font-size: 1rem;
            font-weight: 300;
            margin: 2em 0;
            text-align: left;
        }
    }
}

.examples{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 25px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
}

:where(ol)>li:before {
    content: counter(list);
    font-family: "Montserrat", Arial, sans-serif;
    background-color: #E84E45;
    font-size: 1rem;
    color: #fff;
    border-radius: 999em;
    width: 20px;
    height: 20px;
    padding: 5px 9px 5px 9px;

}
:where(ol)>li {
    position: relative;
    list-style: none;
    padding-left: var(--padding-list);
    margin-bottom: 1.25rem;
    counter-increment: list;
    margin-top: 20px;
}
li::before{
    margin-right: 20px;
}

.function-sect{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 25px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
}
.phrases-sect{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 25px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;

    .list-types-check{
        margin-top: 1rem;    
        margin: 1rem 0 1rem 0;
    }
}


.games-sect{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 30px;
    background-color: #f9f9f9;

    h3{
        margin-bottom: 20px; 
    }

    div{
        display: flex;
        gap: 20px; 
    }
}



.games-sect button{
    padding: 10px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    min-width: 200px;
    padding: 10px;
    background-color: #7bb2c0;
    border-color: #83d6c4;
    border-radius: 8px;
    border-style: solid;
    cursor: pointer;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
}
.games-sect button:hover{
    background-color: #83d6c4;
}
.icon-trophy{
    width: 24px;
    height: 24px;
    margin: 5px;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #fff;
}