body {
    font-family: Arial, sans-serif;
    background-image: url('img/fondo\ naranja.png'); /* Asegúrate de tener tu fondo aquí */
    background-size: cover;
    color: #0c0c0c;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
}


.titulo {
    font-size: 40px;
    color: #e68c06;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.texto-parrafo {
    width: 100%;
    text-align: left;
    font-size: 18px;
    color: #050505;
}

.subtitulo {
    font-size: 24px;
    color: #6a1b9a;
    margin-bottom: 15px;
}

.blanco {
    display: inline-block;
    width: 80px;
    height: 30px;
    border-bottom: 2px dashed #ff5722;
    margin: 0 5px;
    background-color: #fff;
}

.imagen-nino {
    width: 110%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen-nino img {
    width: 100%;
    height: auto;
}

.palabras {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  /* Permite que las palabras se acomoden a varias líneas */
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    border: 2px solid #ffca28;
    border-radius: 10px;
    background-color: #fffde7;
    word-wrap: break-word; /* Permite el ajuste de palabras largas dentro del contenedor */
    overflow-wrap: break-word; /* También se asegura que las palabras largas se ajusten */
}


.palabra {
    margin: 10px;
    padding: 10px;
    background-color: #4CAF50;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: grab;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    word-wrap: break-word; /* Esto permite que las palabras largas se ajusten */
    white-space: normal;  /* Permite que el texto fluya y no se mantenga en una sola línea */
}


#validar {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 25px;
    font-weight: bold;
    background-color:  #ffd54f;
    border: none;
    border-radius: 5px;
    color: #4a148c;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#validar:hover {
    background-color: #e68c06;
}

.mensaje {
    margin-top: 20px;
    font-size: 20px;
    color: blue;
}
